<!DOCTYPE html>
<html>
    <head>
        <title>todo list</title>
        <link href="/public/todo.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="/jquery-ui/jquery-ui.css">
        <link type="text/css" rel="stylesheet" href="/jquery-ui/jquery-ui.structure.css">
        
    <script src="/public/jquery-3.4.1.js"></script>
    <script src="/public/todo-list.js"></script>
    <script src="/jquery-ui/jquery-ui.js"></script>
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" id="inp" name="item" placeholder="add new question" required/>
                <button id="btn" value="submit">add item</button>
            </form>
            <ul>
                <% for(var i = 0 ; i < todos.length; i++) { %>
                    <li id="todo-li"><%= todos[i].item %>
                    <br><input class="in_ans" type="text" placeholder="submit your answer"><br>
                    <button class="n_ans" onclick="add(event)">submit new answer</button>
                    <button class="p_ans" onclick="tog(event)">view prev answer</button>
                    <div class="sp_ans">
                        <h1>see preious ans </h1>
                    </div></li>

                <% } %>
            </ul>
        </div>
    </body>

</html>